extends blog

block blogcontent

  h2 Archive : #{blog.yearNum}

  for month in Object.keys(blog.thisArchiveYear).sort().reverse()
    h3= blog.thisArchiveYear[month][0].meta.moment.format("MMM YYYY")
    ul
      for l_post in blog.thisArchiveYear[month]
        li #{l_post.meta.moment.format("DD MMM YYYY")} - 
          a(href=`./${l_post.name}`)= l_post.meta.title
