extends blog

block blogcontent
  h2= blog.thisPost.meta.title
  | !{blog.thisPost.html}
  if blog.thisPost.meta.tags
    p(style="float: right;") Tags: 
      for tag in blog.thisPost.meta.tags
        a.btn.btn-default.btn-sm(href=`tag-${tag}`) #{tag}
        |  
  p Posted: #{blog.thisPost.meta.moment.fromNow()}
  hr
