doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(
      name="description",
      content="JavaScript Minifier/Compressor. Provides an API. Simple Quick and Fast!")
    meta(
      name="keywords",
      content="javascript, js, minifier, javascript minifier, compress, compressor, minify javascript, web, html")
    meta(name="author",content="Andrew Chilton, @andychilton")
    link(rel="shortcut icon",href="/favicon.ico")

    title= title

    // Bootstrap core CSS
    link(href="https://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css",rel="stylesheet")
    // Custom styles for this template
    link(href=`/s/css/style${min}.css`,rel="stylesheet")

    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    | <!--[if lt IE 9]>
    |   <script src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script>
    |   <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    | <![endif]-->

  body
    #ribbon(data-line-height="3")
      a(href=`https://gitlab.com/webdev.sh/${pkg.name}` target="_blank") Code on GitLab

    .container

      // Static navbar
      .navbar.navbar-default(role="navigation")
        .navbar-header
          button.navbar-toggle(type="button",data-toggle="collapse",data-target=".navbar-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") javascript-minifier.com
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href="/plugins") Plugins
            li
              a(href="/programs") Programs
            li
              a(href="https://webdev.sh/blog/category-javascript-minifier") Blog
          ul.nav.navbar-nav.navbar-right
            li
              p.navbar-text Our other services:
            li
              a(href="https://cssminifier.com/") CSS Minifier
            li
              a(href="http://img-resize.com/") Image Resize
            li
              a(href="http://pngcrush.com/") PNG Crush
            li
              a(href="http://jpgoptimiser.com/") JPG Optimiser

      #ads.row
        .col-md-4
          h1 Minify your JavaScript
          p= pkg.description
        #ads.col-md-8.c
          a(href=ad.url)
            img(width="728",height="90",src=ad.src,title=ad.title,alt=ad.title)

      .row
        .col-md-4
          p
            | Written and hosted by
            |
            a(href="https://chilts.org/") Andrew Chilton
            |
            | (
            a(href="https://twitter.com/andychilton") @andychilton
            | ).
        .col-md-8.c
          p
            | #{ad.text1}
            a(href=ad.url)= ad.title
            | #{ad.text2}

      block content

    div#footer
      div.container
        a(href="/") JavaScript Minifier
        |
        | - By
        |
        a(href="https://chilts.org/") chilts
        |
        | -
        |
        a(href="https://twitter.com/andychilton") @andychilton

    if env === 'production'
      script(type="text/javascript").
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-17218498-6', 'javascript-minifier.com'); ga('send', 'pageview');

    script(src="https://cdn.jsdelivr.net/jquery/1.11.3/jquery.min.js")
    script(src=`/s/js/ready${min}.js`)
    script(src=`https://webdev.sh/s/js/ribbon${min}.js`)
