/* ------------------------------------------------------------------------- */
/* layout */

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

/* ------------------------------------------------------------------------- */

#ads img {
    margin: 20px 20px 20px 0;
}

/* ------------------------------------------------------------------------- */

#input, #output {
    height: 310px;
}

.actions {
    margin-top: 10px;
}

/* ------------------------------------------------------------------------- */

/* footer */
#footer {
    background-color: whiteSmoke;
    border-top: 1px solid #ddd;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    text-align: center;
    line-height: 30px;
    z-index: 10000;
}

/* ------------------------------------------------------------------------- */

/* general */
pre {
    overflow: auto;
}

.c {
    text-align: center;
}

.r, .table th.r, .table td.r {
    text-align: right;
}

/* ------------------------------------------------------------------------- */




#social {
  margin-top: 8px;
  float: right;
}
